@model Building.ViewModels.Account.UsercredentialsModel
@Scripts.Render("~/admin/component/validetta/js")
@Styles.Render("~/admin/component/validetta/css")


@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

<div class="alert alert-block alert-success">
    <p>
        <strong>
            <i class="ace-icon fa fa-pencil"></i>
            تغییر رمز عبور کاربر
        </strong>

    </p>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Id);
    <label for="Name">
       رمز عبور
        <small class="text-warning"></small>
    </label>

    <div class="input-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Name", data_validetta = "required" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <hr />
        <p>
            <input type="submit" value="ویرایش" class="btn btn-sm btn-success" />
            <button class="btn btn-sm" data-dismiss="modal" aria-label="Close">لغو کردن</button>
        </p>


</div>
}
<script>
        $(document).ready(function () {
            $("form").validetta({
                bubblePosition: 'bottom',
                bubbleGapTop: 10,
                bubbleGapLeft: -5
            });
        });
</script>
