@using DomainClasses.Models

<li class="dd-item">

        @helper RenderCategories(IEnumerable<MainCategory> categories)
        {
foreach (var category in categories.Where(c => c.MarkAsDelete != true))
{
        <div class="dd-handle">
            @category.Name
            <div class="pull-left action-buttons">
                <a class="jq-btn green" data-url="/Admin/MainCategory/create/@category.MainCategoryId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">

                    <i class="ace-icon fa fa-plus bigger-130"></i>
                </a>
                <a class="jq-btn btn-yellow" data-url="/Admin/MainCategory/Details/@category.MainCategoryId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
                    <i class="ace-icon fa fa-search bigger-130"></i>
                </a>
                <a class="jq-btn blue" data-url="/Admin/MainCategory/Edit/@category.MainCategoryId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                </a>
            </div>
        </div>
                            <ol class="dd-list">
                                @RenderCategoryChildren(category.Children)

                            </ol>

                }
            }
        }
</li>


@helper RenderCategoryChildren(IEnumerable<MainCategory> categories)
{
    if (categories != null)
    {
        foreach (var category in categories.Where(c=>c.MarkAsDelete != true))
        {
            if (category != null)
            {
                <li class="dd-item  item-blue2" data-id="#" data-name="@category.Name">
                    <div class="dd-handle">
                        @category.Name
                        <div class="pull-left action-buttons">
                            <a class="jq-btn green" data-url="/Admin/MainCategory/create/@category.MainCategoryId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">

                                    <i class="ace-icon fa fa-plus bigger-130"></i>
                                </a>
                            <a class="jq-btn btn-yellow" data-url="/Admin/MainCategory/Details/@category.MainCategoryId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="ace-icon fa fa-search bigger-130"></i>
                            </a>
                            <a class="jq-btn blue" data-url="/Admin/MainCategory/Edit/@category.MainCategoryId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>
                            <a class="jq-btn red" data-url="/Admin/MainCategory/Delete/@category.MainCategoryId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                            </a>
</div>
                    </div>
                    <div class="dd-dev"></div>
                    @if (category.Children.Any())
                    {
                        <ol class="dd-list">
                            @RenderCategoryChildren(category.Children)
                        </ol>
                    }
                </li>
            }
        }
    }
}


@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}
