@model DomainClasses.Models.MainCategory
@Scripts.Render("~/admin/component/validetta/js")
@Styles.Render("~/admin/component/validetta/css")


<div class="well">
    <h4 class="header smaller lighter blue">ایجاد دسته جدید</h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="ParentId" value="@ViewBag.CatId" />
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @data_validetta = "required"  } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Describtion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Describtion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Describtion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input class="btn btn-sm" type="submit" value="درج" class="btn btn-default"/>
                    <button class="btn btn-sm" data-dismiss="modal" aria-label="Close">لغو کردن</button>
                </div>
            </div>
        </div>
    }
</div>
<script>
        $(document).ready(function () {
            $("form").validetta({
                bubblePosition: 'bottom',
                bubbleGapTop: 10,
                bubbleGapLeft: -5
            });
        });
</script>
